<!-- home/contact-details.html start -->

<%
const {
  ContactAddressLabel,
  ContactAddressValue,
  ContactEmailLabel,
  ContactEmailValue,
  ContactHeadline,
  ContactHotlineLabel,
  ContactHotlineValue,
} = data;
%>

<div class="contact col-xs-12 col-md-6 padding-top padding-bottom">
  <span class="h3 text-align-center">
    <%= ContactHeadline %>
  </span>

  <div class="table">
    <div class="table-row">
      <div class="table-cell">
        <b>
          <%= ContactAddressLabel %>
        </b>
      </div>
      <div class="table-cell">
        <%- ContactAddressValue %>
      </div>
    </div>
    <div class="table-row">
      <div class="table-cell">
        <b>
          <%= ContactHotlineLabel %>
        </b>
      </div>
      <div class="table-cell">
        <%- ContactHotlineValue %>
      </div>
    </div>
    <div class="table-row">
      <div class="table-cell">
        <b>
          <%= ContactEmailLabel %>
        </b>
      </div>
      <div class="table-cell">
        <%- ContactEmailValue %>
      </div>
    </div>
  </div>
</div>

<!-- home/contact-details.html end -->