<!-- home/service-pages-dropdown.html start -->

<%
const {
  SelectionHintShort,
  ServicePageList = [],
} = data;

if (ServicePageList.length) {
%>

<select name="service-lp-selection" class="center-block form-control visible-xs">
  <option value="">
    <%= SelectionHintShort %>
  </option>

<%
  ServicePageList.forEach(function(item) {
    const {
      PageLink,
      PageName,
    } = item;
%>

  <option
    value="<%= PageLink %>"
  >
    <%= PageName %>
  </option>

<%
  });
%>

</select>

<%
}
%>

<!-- home/service-pages-dropdown.html end -->