<!-- home/service-pages-section-2.html start -->

<%
if (typeof ServicePageHeadline2 === 'undefined') {
  ServicePageHeadline2 = '';
}
if (typeof SelectionHintLong === 'undefined') {
  SelectionHintLong = '';
}
%>

<section class="call-to-action blue step1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 padding-top padding-bottom text-align-center">
        <span class="h3 text-align-center white">
          <%- ServicePageHeadline2 %>
        </span>
        <div class="dropdown service-lp-selection hidden-xs">
          <button class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span>
              <%= SelectionHintLong %>
            </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu copy-to"></ul>
        </div>
        <select name="service-lp-selection" class="copy-to center-block form-control visible-xs"></select>
      </div>
    </div>
  </div>
</section>

<!-- home/service-pages-section-2.html end -->