<!-- home-page.html start -->

<!DOCTYPE html>
<html lang="de-DE">

<%- include('./elements/head.html', {data}); %>

  <body class="home">
    <div class="content-wrapper">

<%- include('./elements/header.html', {data}); %>

<%- include('./elements/stage.html', {data}); %>

      <div id="content">

<%- include('./elements/home/content.html', {data}); %>

      </div>

    </div>

    <footer></footer>

<%- include('./elements/scripts.html', {data}); %>

  </body>

</html>

<!-- home-page.html end -->