<!-- scripts.html start -->

<%
const {
  AdditionalCssFiles = [],
  AdditionalJsFiles = [],
} = data;

function createPaths(varName, paths) {
  const pathsString = paths
    .map((path) => {
      return `'${path}'`;
    })
    .join(',')
  ;

  return `const ${varName} = [${pathsString}];`;
}
%>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript">

<%- createPaths('additionalCss', AdditionalCssFiles); %>
<%- createPaths('additionalJs', AdditionalJsFiles); %>

<%- include('./js/critical-path.js'); %>

</script>
<!-- scripts.html end -->