<!-- stage-css.html start -->

<%
const {
  StageImageLarge = '',
  StageImageMedium = '',
  StageImageSmall = '',
  StageTextShadowColor,
  UseDefaultStageImages,
} = data;

function createStageImgUrl(url) {
  return `#stage-content {background-image: url('${url}')}`;
}
%>
<style>

<%
if (UseDefaultStageImages && UseDefaultStageImages !== 'none') {
%>

@media (max-width: 767px) {
  #stage-content {
    background-image: url(/src/img/stage/default-stage-xs.jpg);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #stage-content {
    background-image: url(/src/img/stage/default-stage-sm.jpg);
  }
}
@media (min-width: 1200px) {
  #stage-content {
    background-image: url(/src/img/stage/default-stage-lg.jpg);
  }
}

<%
}
if (StageTextShadowColor) {
%>

#stage .stage-slogan { text-shadow: 1px 2px 19px <%- StageTextShadowColor %>; }

<%
}
if (!UseDefaultStageImages || UseDefaultStageImages === 'none') {
  if (StageImageSmall !== '' && StageImageMedium === '' && StageImageLarge === '') {
%>

<%- createStageImgUrl(StageImageSmall) %>

<%
  } else if (StageImageSmall === '' && StageImageMedium !== '' && StageImageLarge === '') {
%>

<%- createStageImgUrl(StageimageMedium) %>

<%
  } else if (StageImageSmall === '' && StageImageMedium === '' && StageImageLarge !== '') {
%>

<%- createStageImgUrl(StageImageLarge) %>

<%
  } else {
    if (StageImageSmall !== '' && (StageImageMedium !== '' || StageImageLarge !== '')) {
%>

@media (max-width: 767px) { <%- createStageImgUrl(StageImageSmall) %> }

<%
    }
    if (StageImageMedium !== '') {
      var media = '@media ';
      if (StageImageSmall !== '') {
        media += '(min-width: 768px)';
        if (StageImageLarge !== '') {
          media += ' and ';
        }
      }
      if (StageImageLarge !== '') {
        media += '(max-width: 1199px)';
      }
      // TODO: Test the case when StageImageSmall is not given and StageImageLarge is given. we have to check 'and'.
%>

<%- media %> { <%- createStageImgUrl(StageImageMedium) %> }

<%
    }
    if (StageImageLarge !== '') {
%>

@media (min-width: 1200px) { <%- createStageImgUrl(StageImageLarge) %> }

<%
    }
  }
}
%>
</style>

<!-- stage-css.html end -->