<!-- stage.html start -->


<%
const {
  Breadcrumb = [],
  Stage,
} = data;
%>

<div id="stage">
  <section id="breadcrumb">

<%
if (Breadcrumb.length > 0){
%>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 hidden-xs">
          <ul class="breadcrumb">

<%
  Breadcrumb.forEach(function(item) {
%>

<%- include('./breadcrumb.html', {
  data: item,
}); %>

<%
  });
%>

          </ul>
        </div>
      </div>
    </div>

<%
}
%>

  </section>

<%
if (Stage) {
%>

<%- include('./stage-content.html', Stage); %>

<%
}
%>

</div>

<!-- stage.html end -->